<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticador</title>
    <link rel="stylesheet" href="~/css/Autenticador.css">
</head>
<body>
    <div class="login-card">
        <div class="logo">
            <img src="logoemescam.png" alt="LogoEmescam">
        </div>
        <h1>Autenticar um certificado</h1>
        <form>
            <input type="text" id="code" name="code" placeholder="Digite o código">
            <button type="submit">Verificar Autenticidade</button>
        </form>
        <p class="info">O código pode ser encontrado no rodapé do certificado. Digite-o no campo acima.</p>
    </div>
</body>
</html>
