@{
    ViewData["Title"] = "Home Page";
}
<div><img id="logo" src="/logoemescam.png*" /></div>
<div class="text-center">
    <h1 class="display-4">Emissor de Certificados</h1>
    <div id="h1e2">
        <h1 id="h2"><span style="font-size:25PX;">ACESSO A</span><br>PARTICIPANTES</h1>
        <h1 id="h2"><span style="font-size:25PX;">ACESSO A</span><br>ORGANIZADORES</h1>
    </div>


    <div id="botoes">
        <a id="btn-participantes" class="nav-link text-dark" asp-action="login">PARTICIPANTES</a>
        <a id="btn-organizador" class="nav-link text-dark" asp-action="login">ORGANIZADORES</a>
    </div>
    <div id="p">
        <p>Se você tiver dúvidas ao acessar, por favor,<br>entre em contato para que possamos te ajudar!</p>
        <p>Se você tiver dúvidas ao acessar, por favor,<br>entre em contato para que possamos te ajudar!</p>
    </div>


    <p>Emita <a href="https://e-certificado.com/">e-certificado.com</a>.</p>
</div>