@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emissor de Certificados</title>
   
</head>
<body>
    <div id="logoEmescam"><img src="/LogoEmescam.png" alt="logo"></div>

    <h1 class="display-4">Emissor de Certificados</h1>

    <div class="container">
        <div class="acesso">
            <a id="btn-participantes" class="nav-link text-dark" asp-action="Login" asp-controller="Participante">Acesso a Participantes</a>
            <p>Se você tiver dúvidas ao acessar, por favor,<br>entre em contato para que possamos te ajudar!</p>
        </div>

        <div class="acesso">
            <a id="btn-organizador" class="nav-link text-dark" asp-action="Login" asp-controller="Organizador">Acesso a Organizadores</a>
            <p>Se você tiver dúvidas ao acessar, por favor,<br>entre em contato para que possamos te ajudar!</p>
        </div>
    </div>
</body>
</html>
<style>
    #logoEmescam {
        position: fixed;
        top: 70px;
        left: 150px;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        width: 300px;
        text-align: center;
    }

        #logoEmescam img {
            width: 350px;
        }

    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(135deg, #01f949, #14086d);
        font-family: Arial, sans-serif;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; /*linha para os botões ficarem lado a lado */
        gap: 20px;
    }

    .acesso {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .acesso a {
            text-decoration: none;
            color: #000;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid transparent;
            transition: color 0.3s, border-color 0.3s;
            border-color: #14086D;
            text-align: center;
            width: 200px;
        }

            .acesso a:hover {
                color: #ff0000;
                border-color: #ff0000;
            }
</style>