@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emissor de Certificados</title>
    <link rel="stylesheet" href="~/css/Index.css">

</head>
<body>
    <div id="logoEmescam"><img src="/logoemescam.png" alt="logo" asp-append-version="true"></div>

    <div class="acessos">
        <div class="participantes">
            <img id="imgParticipantes" src="/grupo-de-usuarios (1).png" asp-append-version="true"></img>
            <p id="pParticipantes">ACESSO A<br> <span class="destaque">PARTICIPANTES</span></p>
            <a id="btn-participantes" class="nav-link text-dark" asp-action="Login" asp-controller="Participante">ACESSAR</a>
        </div>

        <div class="organizador">
            <img id="imgOrganizador" src="/homem-usuario (1).png" asp-append-version="true"></img>
            <p id="pOrganizador">ACESSO A<br> <span class="destaque">ORGANIZADOR</span></p>
            <a id="btn-organizador" class="nav-link text-dark" asp-action="Login" asp-controller="Organizador">ACESSAR</a>
        </div>
    </div>
</body>
</html>
