@{
    ViewData["Title"] = "Home Participantes";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emissor de Certificados</title>
    <img src="~/logoemescam.png*">
</head>
<body>
    <div>
        <h6>Bem-Vindo, Nome do usuario logado<!/h6>
    </div>

    <div class="card-section">
        <div class="card">
            <div class="card-title">Painel Inicial</div>
            <div class="card-content">
                Conteúdo do Card aqui, adicionar qualquer conteudo.
            </div>
            <form>
                <div>
                    <ul>
                        <li><a class="nav-link text-dark" asp-action="login">Novo Envento</a></li>
                        <li><a class="nav-link text-dark" asp-action="login">Meus Eventos</a></li>
                        <li><a class="nav-link text-dark" asp-action="login">Buscar Pessoas</a></li>
                        <li><a class="nav-link text-dark" asp-action="login">Qualquer coisa</a></li>
                        <li><a class="nav-link text-dark" asp-action="login">Sair</a></li>
                    </ul>
                </div>
            </form>
</body>
</html>

<style>

</style>