<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emissor de Certificados</title>
    <div id="logoEmescam"><img src="/LogoEmescam.png" alt="logo"></div>
</head>
<body>
    <div class="cartao-menu">
         <div style="font-size:larger">Bem-Vindo! @ViewBag.Login</div> 
        
        <form>
            <div>
                <a class="nav-link text-dark" href="#" onclick="mostrarCard('meus-eventos')">Meus Eventos</a>
                <a class="nav-link text-dark" href="#" onclick="mostrarCard('buscar-pessoas')">Buscar Pessoas</a>
                <a id="sair-link" class="nav-link text-dark" asp-action="Login" asp-controller="Organizador">Sair</a>
            </div>
        </form>

        <div id="card-evento" class="card">
            <h3>Novo Evento</h3>
            <div class="textarea-container">
                <label>TEXTO DA FRENTE DO CERTIFICADO DOS PARTICIPANTES</label>
                <textarea placeholder="Digite o texto da frente do certificado..." rows="4" cols="50"></textarea>
            </div>
            <br>
            <div class="textarea-container">
                <label>LISTA DE PARTICIPANTES (DE 1 A 300 PESSOAS)</label>
                <textarea placeholder="nome1,CPF1,e-mail1 
nome2,CPF2,e-mail2" rows="4" cols="50"></textarea>
            </div>
            <br>
            <!--BOTAO DE IMPORTAR AQUIVO-->
            <div class="input-file">
                <label for="input-file">Importar Planilha</label>
                <input type="file" id="input-file" accept=".xlsx">
                <label for="input-file">Importar Layout Certificado</label>
                <input type="file" id="input-file" accept=".jpg">
                <input id="input-avancar" type="button" value="Avançar">
            </div>
            
        </div>



        <div id="card-meus-eventos" class="card">
            <h4>Meus Eventos</h4>
            <!-- Botão de "Adicionar Evento" -->
            <button class="botao-adicionar" onclick="exibirFormularioAdicionar()"></button>

            <!-- Campo de pesquisa -->
            <input type="text" id="campo-pesquisa" placeholder="Pesquisar eventos...">

            <div class="tabela-eventos">
                <!-- Tabela de eventos -->
                <table>
                    <tr>
                        <td class="eventos">Informações do evento 1</td>
                    </tr>
                    <tr>
                        <td class="eventos">Informações do evento 2</td>
                    </tr>
                    <tr>
                        <td class="eventos">Informações do evento 3</td>
                    </tr>
                    <tr>
                        <td class="eventos">Informações do evento 4</td>
                    </tr>
                    <tr>
                        <td class="eventos">Informações do evento 5</td>
                    </tr>
                    <tr>
                        <td class="eventos">Informações do evento 6</td>
                    </tr>
                    <tr>
                        <td class="eventos">Informações do evento 7</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="card-buscar-pessoas" class="card">
            Informações sobre Buscar Pessoas
        </div>
    </div>
</body>
</html>

<style>
    #logoEmescam {
        position: fixed;
        top: 70px;
        left: 150px;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        width: 300px;
        text-align: center;
    }

        #logoEmescam img {
            width: 350px;
        }

    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(135deg, #01f949, #14086d);
        font-family: Arial, sans-serif;
    }

    .cartao-menu {
        background-color: rgba(250, 235, 215, 0.5);
        border-radius: 15px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        padding: 5%;
        width: 18%;
        max-width: 50%;
        height: 80%;
        text-align: center;
        position: fixed;
        top: 55%;
        left: 10%;
        transform: translate(-50%, -50%);
    }

        .cartao-menu a {
            display: block;
            text-decoration: none;
            color: #000;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid transparent;
            transition: color 0.3s, border-color 0.3s;
            border-color: #14086D;
        }

            .cartao-menu a:hover {
                color: #ff0000;
                border-color: #ff0000;
            }

    .card {
        background-color: rgba(250, 235, 215, 0.5);
        padding: 5%;
        width: 442%;
        height: 100%;
        text-align: center;
        position: fixed;
        top: 0;
        left: 103%;
        border-radius: 15px;
        display: none; /* Oculta o card por padrão */
    }


    .tabela-eventos {
        max-height: 300px;
        overflow-y: auto;
        padding-right: 10px;
    }

    #campo-pesquisa {
        margin-bottom: 10px;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .eventos {
        background-color: #fff;
        padding: 10px;
        border: 5px solid #ccc;
        border-radius: 5px;
        width: 1300px;
    }

    .eventos1 {
        background-color: #f9f9f9;
    }

    .botao-adicionar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: deepskyblue;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 10px;
        overflow: hidden;
    }

        .botao-adicionar::after {
            content: "+";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .botao-adicionar:hover {
            background-color: green;
        }

            .botao-adicionar:hover::after {
                color: black;
            }

    #card-evento {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        margin-bottom: 5px;
    }

    textarea {
        margin-bottom: 10px;
    }

    #card-evento {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .textarea-container {
        display: grid;
        justify-items: left;
        text-align: center;
    }

    h7 {
        margin-bottom: 5px;
    }

    textarea {
        margin-top: 5px;
        margin-bottom: 10px;
        width: 650px;
    }

    .input-file {
        display: grid;
        justify-items: left;
        text-align: center;
    }
    
    #input-avancar {
        background: green;
        color: white;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #dados-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 20px;
    }

    #textareaTexto {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    #atualizarDados {
        background-color: green;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        #atualizarDados:hover {
            background-color: deepskyblue;
        }

    .upload-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1%;
    }

        .upload-container input[type="file"] {
            margin-right: 0.3%;
        }



        .upload-container button {
            background-color: green;
            border: none;
            color: white;
            padding: 3px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .upload-container button:hover {
                background-color: deepskyblue;
            }

    /* Estilos para a tabela */
    #tabela {
        width: 100%;
        border-collapse: collapse;
        max-height: 300px;
        overflow-y: auto;
        padding-right: 10px;
    }

        #tabela th, #tabela td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
            background-color: #f2f2f2;
        }

        #tabela th {
            background-color: white; /* Cor de fundo do cabeçalho */
        }

        /* Estilos para linhas alternadas */
        #tabela tbody tr:nth-child(even) {
            background-color: #f9f9f9; /* Cor de fundo para linhas pares */
        }

</style>

<script>
    window.onload = function () {
        mostrarCard('meus-eventos');
    };

    function mostrarCard(id) {
        var cards = document.querySelectorAll('.card');
        cards.forEach(function (card) {
            card.style.display = 'none';
        });

        var cardToShow = document.getElementById('card-' + id);
        if (cardToShow) {
            cardToShow.style.display = 'block';
        }
    }

    function exibirFormularioAdicionar() {
        // Oculta todos os cards exceto o card de novo evento
        var cards = document.querySelectorAll('.card');
        cards.forEach(function (card) {
            card.style.display = 'none';
        });

        // Exibe o card de novo evento
        var cardNovoEvento = document.getElementById('card-evento');
        if (cardNovoEvento) {
            cardNovoEvento.style.display = 'block';

            // Rola a página até o card de novo evento
            cardNovoEvento.scrollIntoView({ behavior: 'smooth' });
        }
    }

    // Captura o campo de pesquisa
    var campoPesquisa = document.getElementById('campo-pesquisa');

    // Captura a tabela de eventos corretamente pela classe
    var tabelaEventos = document.querySelector('.tabela-eventos');
    var linhasEventos = tabelaEventos.getElementsByTagName('tr');

    // Adiciona um ouvinte de evento de entrada ao campo de pesquisa
    campoPesquisa.addEventListener('input', function () {
        var termoPesquisa = campoPesquisa.value.toLowerCase(); // Converte o termo de pesquisa para minúsculas

        // Itera sobre as linhas da tabela de eventos
        for (var i = 1; i < linhasEventos.length; i++) { // Começa do índice 1 para ignorar o cabeçalho da tabela
            var colunasEvento = linhasEventos[i].getElementsByTagName('td'); // Obtém todas as colunas da linha

            var encontrado = false; // Variável para rastrear se o termo de pesquisa foi encontrado em qualquer coluna

            // Itera sobre as colunas do evento
            for (var j = 0; j < colunasEvento.length; j++) {
                var textoColuna = colunasEvento[j].textContent || colunasEvento[j].innerText; // Obtém o texto da coluna
                if (textoColuna.toLowerCase().indexOf(termoPesquisa) > -1) { // Verifica se o termo de pesquisa está presente na coluna
                    encontrado = true;
                    break; // Interrompe a iteração se o termo de pesquisa for encontrado em qualquer coluna
                }
            }

            // Exibe ou oculta a linha com base no resultado da pesquisa
            if (encontrado) {
                linhasEventos[i].style.display = ''; // Exibe a linha se o termo de pesquisa for encontrado em qualquer coluna
            } else {
                linhasEventos[i].style.display = 'none'; // Oculta a linha se o termo de pesquisa não for encontrado em nenhuma coluna
            }
        }
    });

    document.getElementById("input-criar").addEventListener("click", function () {
        var form = document.getElementById("form-novo-evento");
        var formData = new FormData(form);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Home_Organizador/NovoEvento");
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Tratar a resposta do servidor se necessário
                console.log("Evento criado com sucesso!");
                // Redirecionar ou realizar outras ações conforme necessário
                window.location.href = "/Home_Organizador/Index";
            } else {
                console.error("Erro ao criar evento:", xhr.statusText);
            }
        };
        xhr.onerror = function () {
            console.error("Erro de rede ao criar evento:", xhr.statusText);
        };
        xhr.send(formData);
    });

    // Função para atualizar o valor do input hidden com o conteúdo do textarea
    function atualizarTextoFrenteCertificado() {
        var textoFrenteCertificado = document.getElementById("textoFrenteCertificado");
        var textarea = document.querySelector('textarea[name="TextoFrenteCertificado"]');
        textoFrenteCertificado.value = textarea.value;
    }

    // Adicione um event listener para o evento "submit" do formulário
    document.getElementById("form-novo-evento").addEventListener("submit", function (event) {
        // Chama a função para atualizar o valor do input hidden antes de enviar o formulário
        atualizarTextoFrenteCertificado();
    });

    //atualizado 10:40
</script>



   // atualizarDados agora 10:24
</script>
